/*----------------------------------- Header/Description -----------------------------------*/

header {
    justify-content: start;
    height: auto;
    margin: 0;
  }

  .titles {
    margin: 0 0 86px 0;
  }

  .project-template h2 {
    margin: 52px 0 24px 0;
  }

  .tag-holder {
    display:flex;
    flex-direction: column;
    margin: 0 0 60px 0;
  }

  .tag {
    display:flex;
    flex-direction: row;
    margin: 0 0 8px 0;
  }

  .tag h4 {
    width: 32%;
  }

  .tag-content {
    width: 68%;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
  }

  .tag-content-final {
    width: 68%;
    font-size: 1.2rem;
    font-weight: 200;
    display: flex;
    align-items: center;
  }


/*----------------------------------- Problem -----------------------------------*/

  .problem-context {
    margin: 0 0 128px 0;
  }

/*----------------------------------- Solution -----------------------------------*/


.sub-section {
    display: flex;
    flex-direction: column;
    margin:0 0 96px 0;
}

.sub-section h3 {   
    margin: 0 0 36px 0;
  }

  .sub-section h5 {
    margin: 0 0 36px 0;
  }

  .sub-section p {
    margin: 0 0 36px 0;
  }


/*----------------  Lists ------------------*/

.ol-li-header {
  margin: 0 0 -12px 0;
}

.lg-ul li, .lg-ol li, .ol-li-header{
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2.2rem;
}

.half-ul {
    width: 50%;
}

.half-ul  li{
    margin: 0 0 16px 0;
}



/*----------------  Users ------------------*/
.user-module {
    display: flex;
    flex-direction: row;
    margin: 0 0 40px 0;
}

.user-img {
    max-width: 300px;
    margin: 0 72px 0 0;
}

.user-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*----------------  image containers ------------------*/
img {
    width: 100%;
}


.img-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px 0;
}

.img-container h4 {
margin: 0 0 36px 0;
}

.img-container img {
    margin: 0 0 36px 0;
    }


.img-text-row {
    display: flex;
    flex-direction: row;
}

.img-100 {
  width: 100%;
}

.img-80 {
  width: 80%;
}

.img-48 {
  width: 48%;
}

.img-50 {
  width: 50%;
}

.img-60 {
  width: 60%;
}

.img-70 {
    width: 70%;
}


.mw-444 {
max-width: 444px;
height: 623px;
}

.mw-292 {
  max-width: 292px;
  height: 628px;
  }



/*----------------  text containers ------------------*/

.text-30 {
  width: 30%;
}

.text-80 {
  width: 80%;
}




/*----------------  spacers ------------------*/

.margin-0 {
  margin: 0;
}

.margin-bottom-8 {
  margin: 0 0 8px 0;
}

.margin-bottom-24 {
  margin: 0 0 24px 0;
}

.margin-bottom-48 {
  margin: 0 0 48px 0;
}

.margin-bottom-72 {
  margin: 0 0 72px 0;
}

.margin-bottom-100 {
  margin: 0 0 100px 0;
}

.margin-bottom-120 {
  margin: 0 0 120px 0;
}

/*----------------  flex rows/cols ------------------*/



.row-half-992 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-half-992-1, .row-half-992-2{
  width: 48%;
  }


.row-half-600 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-half-600-1, .row-half-600-2{
  width: 48%;
}

.row-third-768 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
}

.row-third-1-768 {
  width: 26%;
}



.space-between{
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
  text-align: center;
  align-items: center;
}





/*----------------  other ------------------*/

iframe {
    height: 700px;
    width: 100%;
}





/*--------------------------------------992-------------------------------------------------*/


@media only screen and (max-width: 992px) {




.tag h4 {
    width: 42%;
  }

  .tag-content {
    width: 58%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  }

  .tag-content-final {
    width: 58%;
    font-size: 1rem;
    font-weight: 200;
    display: flex;
    align-items: center;
  }

/*----------------------------------- Solution -----------------------------------*/

/*----------------  image containers ------------------*/

.user-img {
    max-width: 200px;
    margin: 0 48px 0 0;
  }


  .img-text-row {
    flex-direction: column;
}

.img-70 {
    width: 100%;
  }

/*----------------  lists ------------------*/

.text-30 {
    width: 80%;
  }

.lg-ul li {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.8rem;
  }



  .row-half-992 {
    flex-direction: column;
    align-items: center;
  }
  
  .row-half-992-1, .row-half-992-2{
    width: 96%;
    margin: 0 0 48px 0;
    }

}



/*----------------------------------768---------------------------------*/
@media only screen and (max-width: 768px) {

/*----------------  fonts ------------------*/
h2 {
    font-size: 5rem;
  }


h4 {
    font-size: 2rem;
    line-height: 2.6rem;
  }


.tag {
    justify-content: space-between;
}

.project-template h2 {
     margin: 42px 0 14px 0;
}

.img-60 {
  width: 100%;
}

.text-80 {
  width: 100%;
}

.row-third-768 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.row-third-1-768 {
  width: 66%;
  margin: 24px 0;
}


}


/*----------------------------------600---------------------------------*/
@media only screen and (max-width: 600px) {


/*----------------  fonts ------------------*/    
h2 {
    font-size: 4rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  

  h3 {
    font-size: 2.8rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  .sub-section h5 {
    line-height: 1.8rem;
  }



/*----------------------------------- Header/Description -----------------------------------*/
  
.titles {
    margin: 0 0 60px 0;
  }

.project-template h2 {
    margin: 42px 0 0 0;
  }



  .tag-content {
    font-size: 1rem;
  }

  .tag-content-final {
    width: 58%;
    font-size: .75rem;
    padding-top: 8px;
  }

  /*----------------------------------- Solution -----------------------------------*/

  .sub-section {
    display: flex;
    flex-direction: column;
    margin: 0 16px 60px 16px;
  }

  .sub-section h3 {
    margin: 0 0 24px 0;
  }


    /*----------------  Users ------------------*/
  .user-module {
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
    align-items: center;
  }


  .user-img {
    max-width: 50%;
    margin: 0 0 30px 0;
  }

  .user-description {
    width: 100%;
  }

/*----------------  lists ------------------*/

.text-30 {
    width: 100%;
  }



  .lg-ul li {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4rem;
  }

  ul {
    padding-inline-start: 20px;
  }

  li {
    font-size: .75rem;
    padding-inline-start: 10px;

  }

  /*----------------  images ------------------*/

  .img-container img {
    margin: 0 0 12px 0;
  }


  .img-container h4 {
    margin: 0 0 18px 0;
  }


/*----------------  rows/cols ------------------*/
  .row-half-600 {
    flex-direction: column;
  }
  .row-half-600 div {
    width: 100%;
    margin: 0 0 20px 0;
  }


  .row-half-992-1, .row-half-992-2{
    width: 100%;
    }


    .mw-444 {
      max-width: 300px;
      height: 420px;
      }
      
      .mw-292 {
        max-width: 292px;
        height: 628px;
        }

   .row-third-1-768 {
           width: 86%;
          margin: 24px 0;
        }

}


@media only screen and (max-width: 450px) {

  .row-third-1-768 {
    width: 100%;
    margin: 12px 0;
 }



}


@media only screen and (max-width: 380px) {

    .tag h4 {
        font-size: 1.2rem;
      }



}

