/*----------------------------------- CSS Reset-----------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------------------------------- Variables-----------------------------------*/


:root {
    --color-bg: #1D1E25;
    --color-white: #FFFFFF;
    --color-font: #FFFFFF;

    --mid-grey: #BBBBBB;

    --primary-red: #FE534C;
    --primary-yellow: #F1C722;
    --primary-blue: #3470FD;



    --Gradient-Red-Orange: linear-gradient(270deg, #FF7B26 0%, #FF5454 100%);
    --Gradient-Orange-Yellow: linear-gradient(90deg, #FF7B26 -3.18%, #FFD954 100%);
    --Gradient-Yellow-Green: linear-gradient(90deg, #FFD954 0%, #52FE84 99.21%);
    --Gradient-Green-Blue: linear-gradient(90deg, #54FF84 0%, #3470FD 99.21%);
    --Gradient-Blue-Purple: linear-gradient(270deg, #9734E8 0.4%, #3470FD 100%);
    --Gradient-Purple-Red: linear-gradient(90deg, #9734E8 0%, #FF5454 99.21%);
  }
  
 
  /*----------------------------------- plugins -----------------------------------*/
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
 
 
 
  /*----------------------------------- SVGs -----------------------------------*/

.svg-red {
  fill: var(--primary-red);
}

.svg-yellow {
  fill: var(--primary-yellow);
}

.svg-blue {
  fill: var(--primary-blue);
}

/*----------------------------------- bodyodyody -----------------------------------*/
  

body {
    background-color: var(--color-bg);
    color: var(--color-font);
    font-family: 'InterTight';
    text-decoration: none;
    margin: 0;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

hr {
  border: .5px solid var(--color-white);
  width: 100%;
}

.anchor-link {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  top: -49px;
}



/*----------------------------------- links and buttons -----------------------------------*/

/*--------hover---------*/
.hover-link {
  font-size: 1.2rem;
  font-weight: 500;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0.3em 0;
}

.hover-link::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color-font);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/*--------hover large---------*/
.hover-link-lg {
  font-family: 'PPNeueMachina';
  font-size: 3.8rem;
  font-weight: 500;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0.3em 0;
  line-height: 0.3em;
}

.hover-link-lg::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--color-font);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-link-lg:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn {
  display: inline-flex;
  padding: 8px 24px 6px 24px;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  border-radius: 39px;
  background: var(--color-bg);
  font-family: "PP Neue Machina";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 200;
  border: var(--color-white);
  border-width: 2px;
  border-style: solid;
  width: fit-content;
}

.btn:hover {
  background-color:var(--color-white);
  color: var(--color-bg);
  transition: 0.3s;
}


.text-link {
  text-decoration: underline;
}



/*----------------------------------- states -----------------------------------*/

a:link {
    text-decoration: none;
    color: var(--color-font);
}

a:visited {
    text-decoration: none;
    color: var(--color-font);
}

/*----------------------------------- fonts -----------------------------------*/

h1 {   
    font-family: 'PPNeueMachina';
    font-size: 9vw;
    font-weight: 300;
    margin: 0;
    line-height: 8vw;
}

h2 {   
  font-family: 'PPNeueMachina';
  font-size: 7.5rem;
  font-weight: 300;
  margin: 70px 0 40px 0;
  line-height: 5rem;
}


h3 {   
  font-family: 'PPNeueMachina';
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
  line-height: 4rem;
}

h4 {   
  font-family: 'InterTight';
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 200;
  margin: 0;
  width: fit-content;
}

h5 {
  font-family: 'InterTight';
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 200;
  margin: 0;
  width: fit-content;
}

#super-bold {
    font-weight: 700;
}

p {
    font-family: 'InterTight';
    font-size: 1.2rem;
    font-weight: 200;
    font-style: normal;
}



li {
  font-family: 'InterTight';
  font-size: 1.2rem;
  font-weight: 200;
  font-style: normal;
}

/*----------------------------------- Pill -----------------------------------*/

.pill-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 16px 0;
  max-width: 520px ;
}

.pill {
  display: inline-flex;
  padding: 6px 20px;
  margin: 0 12px 12px 0;
  justify-content: center;
  align-items: center;
  color: var(--color-bg);
  border-radius: 39px;
  background: var(--Gradient-Purple-Red);
  font-family: "PP Neue Machina";
  font-size: .9rem;
  font-style: normal;
  font-weight: 800;
  }


  #red {
    background: var(--primary-red);
  }

  #purple-red {
    background: var(--Gradient-Purple-Red);
  }

  #blue-purple {
    background: var(--Gradient-Blue-Purple);
  }

  #blue-purple {
    background: var(--Gradient-Blue-Purple);
  }

  #blue {
    background: var(--primary-blue);
  }

  #green-blue {
    background: var(--Gradient-Green-Blue);
  }

  #yellow-green {
    background: var(--Gradient-Yellow-Green);
  }

  #yellow {
    background: var(--primary-yellow);
  }

  #orange-yellow {
    background: var(--Gradient-Orange-Yellow);
  }

  #red-orange {
    background: var(--Gradient-Red-Orange);
  }


/*----------------------------------- navigation -----------------------------------*/



nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  z-index: 100;
  position: sticky;
  top: 0px;
}

.nav-bar {
  background-color: var(--color-white);
  height: .5px;
  width: 100%;
  margin: 12px 0 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0 4px;
}


#projects-about {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*----------------------------------- header -----------------------------------*/

header {
  width: 100%;
  height: calc(100vh - 69px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:end ;
  margin: 0 0 200px 0;
}

.lineContainer{
  width: 90vw;
  position:relative;
  overflow:hidden;
}

.line{
  width: 95%;
  height: 130px;
  position: relative;
  overflow: hidden;
}

span{
  position: absolute;
  line-height: 8rem;
}


/*----------------------------------- section -----------------------------------*/

section {
  width: 100%;
  position: relative;
}

#skill-container {
  height: calc(100vh - 69px);
  width: 100%;

}



/*----------------------------------- skill animation -----------------------------------*/



.skill-text-1200 {
  font-family: 'PPNeueMachina';
  font-size: 5.2vw;
  font-weight: 700;
  fill: var(--color-font);
}



.skill-text-600 {
  font-family: 'PPNeueMachina';
  font-size: 6.6vw;
  font-weight: 700;
  fill: var(--color-font);
}

.skill-caption, .skill-caption-side {
  font-family: 'PPNeueMachina';
  font-size: 5.6vw;
  font-weight: 300;
  fill: var(--color-font);
}

.skill-caption-side {
  transform: rotate(14deg);
  font-size: 3vw;
}

.between-text {
  font-family: 'PPNeueMachina';
  font-size: 2.4px;
  font-weight: 300;
  fill: var(--color-font);
}

.circle-red {
  height: 50px;
  width: 50px;
  fill: var(--primary-red);
}

.circle-yellow {
  height: 50px;
  width: 50px;
  fill: var(--primary-yellow);
}

.circle-blue {
  height: 50px;
  width: 50px;
  fill: var(--primary-blue);
}


/*----------------------------------- Projects -----------------------------------*/




.project {
  height: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 128px 0;
}


.project img {
    width: 100%;
}

.project-about {
  width: 50%;
  padding: 0 0 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-images {
  width: 48%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: none;
}

.project p {
width: 420px;
}

.project-links {
  height: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 0 0 0;
}


.projects .flex1-2 {
  width: 40%;
  margin: 0 10px 0 0;
}

.projects .flex2-2 {
  width: 60%;
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
}

.project-link-line {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 64px;
  margin: 40px 0 0 0;
}

.flex2-2 h4 {
  padding: 0 0 0 10px;
  line-height: normal;
}

/*----------------------------------- Price Comparison-----------------------------------*/

.comparison {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 80px 0;
  flex-wrap: wrap;
}



.text-center {
  text-align: center;
  line-height: normal;
  margin: 104px 0 40px 0;
  display: flex;
  justify-content: center;
}

.text-center h3{
width: 64%;
}

aside {
  border: 1px solid var(--mid-grey);
  background-color: var(--color-bg);
  border-radius: 5px;
  margin: 16px;
  padding: 18px;
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 430px;
}

#lucas-skills {
  background: linear-gradient(#1D1E25, #1D1E25) padding-box,
  linear-gradient(to right, #FF7B26, #FFD954) border-box;
  border: 1px solid transparent;
  height: 490px;
}

.comparison-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 110px;
}

.comparison-title h5 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.comparison-title p {
  margin: 0 0 14px 0;
}

.comp {
  height: 46px;
  border-top: .5px solid var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

}

.comp p {
  font-size: .98rem;
  font-weight: 200;
  width: 100%;
  padding: 0;
  margin: 0;
}
  
.comp .icon {
  width: 30px;
  height: 24px;
}

aside .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0 6px 0;
}



/*-----------------------------------About-----------------------------------*/



.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content {
  height: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.about .flex1-2 {
  width: 55%;
  margin: 0 10px 0 0;
}

.about .flex2-2 {
  width: 350px;
  margin: 0;
}

.about h5 {
margin: 116px 0 0 0;
}

.about p {
  margin: 0 0 32px 0;
  font-size: 1.2rem;
  
}

.about img {
  width: 300px;
  height: 300px;
  transform: rotate(-10deg);
}


/*----------------------------------Footer----------------------------------*/


footer {
  max-width: 1400px;
  width: 100%;
}

.footer-container {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email-social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 840px;
}

.email {
  width: 50%
}

.social {
  width: 50%
}

.footer-bold {
  font-size: 32px;
  font-weight: 400;
}

footer .link-container {
  display: flex;
  flex-direction: row;
}

.social .hover-link {
  margin: 0 20px 0 0;
}







/*------------------------------------------------Media Queries------------------------------------------*/



/*----------------------------------Greater than 1200---------------------------------*/
@media screen and (min-width: 1200px) {
  h1 {
     font-size: 128px;
  }
}




/*----------------------------------1200---------------------------------*/

@media only screen and (max-width: 1200px) {

  h1 {   
    font-size: 10vw;
    line-height: 8vw;
}

.hover-link-lg {
  font-size: 3.5rem;
}




}
/*----------------------------------992---------------------------------*/
@media only screen and (max-width: 992px) {

  h1 {   
    line-height: 5.5vw;
}

  h2 {   
    font-size: 7rem;
  }

  h3 {   
    font-size: 3.8rem;
  }

  h4 {   
    font-size: 2.6rem;
    line-height: 3rem;
  }
  /*------------Projects-------------*/
  
  .project {
    height: 840px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 75px 0;
  }

  .project img {
    width: 100%;
}

  .project-about {
    width: 45%;
    padding: 0 0 0 40px;
    width: 80vw;
    padding: 0;
    margin: 24px 0 0 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  .project-links {
    height: 380px;
    flex-direction: column;
    justify-content: center;
  }

  .projects .flex1-2 {
    width: 100%;
  }
  .projects .flex2-2 {
    width: 100%;
    align-items: start;
  }

  .hover-link-lg {
    font-size: 2.6rem;
  }

  .projects h2{
    margin: 50px 0 80px 0;
  }

  .project-about p {
    margin: 0;
    width: 540px;
  }
  
  .project-images {
    width: 80vw;
  }


  .project-link-line {
    margin: 20px 0 0 0;
  }

  /*------------About-------------*/
  .about .flex1-2 {
    width: 60%;
    margin: 0 10px 0 0;
  }

  
  #copyright {
    display: none;
  }


}

/*----------------------------------768---------------------------------*/
@media only screen and (max-width: 768px) {

  h1 {   
    line-height: 5vw;
}

h2 {   
  font-size: 6rem;
}

h3 {   
  font-size: 3rem;
}

  /*------------Projects-------------*/
  .project-about p {
    margin: 0;
    width: 100%;
  }

 

/*------------Price Comparison------------*/

#comparison-header {
  font-size: 2.4rem;
  line-height: 3rem;
}

  .text-center {
    margin: 60px 0 40px 0;
  }

  .text-center h3 {
    width: 80%;
  }

/*-----------------About------------------*/

  .about-content {
    height: 120vh;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
  }

  .about .flex1-2 {
    width: 80%;
  }

  .about .flex2-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 24px 0;
  }


  

}


/*----------------------------------600---------------------------------*/
@media only screen and (max-width: 600px) {
  /*------------Main-------------*/
  main {
    padding: 0 10px;
  }

  /*------------Fonts-------------*/
  h1 {   
    line-height: 16px;
    font-size: 11vw;
  }

  h2 {   
    font-size: 4rem;
  }

  h3 {   
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  p {
    font-size: 0.875rem;
  }

  /*------------Header animation-------------*/
  span {
    line-height: 6rem;
  }

  .line {
    height: 100px;
  }
  
  /*------------Navigation-------------*/
  nav {
    padding: 0 10px;
  }
  
  .hover-link {
    font-size: 1rem;
  }

  .nav-links {
    margin: 20px 0 4px;
  }

  #projects-about {
    width: 124px;
  }



  /*-----------Projects------------*/
  .hover-link-lg {
    font-size: 1.9rem;
  }

  .project {
    height: 600px;
  }

  .projects h2 {
    margin: 40px 0 60px 20px;
  }

  .project-about h3 {
    margin: 0 0 18px 0;
  }


  /*------------Price Comparison-------------*/
  
  #comparison-header {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .text-center h3 {
    font-size: 2.0rem;
  }

  .comparison-title h5 {
    font-size: 1.6rem;
  }

  .comp p {
    font-size: .93rem;
  }


  /*------------About-------------*/

  .about p {
    margin: 0 0 32px 0;
    font-size: .9rem;
  }

  .about h2 {
    margin: 20px 0 60px 20px;
  }

  .about-content {
    height: 700px;
  }


  footer .hover-link {
    font-size: .9rem;
  }
  

}




/*----------------------------------450---------------------------------*/
@media only screen and (max-width: 450px) {

  /*------------Fonts-------------*/
  h2 {
    line-height: 4rem;
  }


  p {
    margin: 12px 0 0 0;
  }

/*------------Projects-------------*/

.project {
  height: 540px;
}

.projects h2 {
  font-size: 2.8rem;
  margin: 30px 0 8px 18px;
}


 /*------------about-------------*/ 


 .about h2 {
    margin: 10px 0 40px 18px;
  }

  .about .flex2-2 {
    width: 275px;
    margin: 0 0 14px 0;
  }

  .about .flex1-2 {
    width: 90%;
  }
  

  .about img {
    width: 250px;
    height: 250px;
  }

   /*------------footer-------------*/ 

  footer .hover-link {
    font-size: .66rem;
  }

  .social .hover-link {
    margin: 0 14px 0 0;
  }

  
}



/*----------------------------------340---------------------------------*/
@media only screen and (max-width: 340px) {


  p {
    font-size: 0.813rem;
  }
  .social .hover-link {
    margin: 0 8px 0 0;
  }

  footer .hover-link {
    font-size: .58rem;
  }

  
}