/*----------------------------------- CSS Reset-----------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------------------------------- Variables-----------------------------------*/


:root {
    --color-bg: #1D1E25;
    --color-white: #FFFFFF;
    --color-font: #FFFFFF;

    --mid-grey: #BBBBBB;

    --primary-red: #FE534C;
    --primary-yellow: #F1C722;
    --primary-blue: #3470FD;



    --Gradient-Red-Orange: linear-gradient(270deg, #FF7B26 0%, #FF5454 100%);
    --Gradient-Orange-Yellow: linear-gradient(90deg, #FF7B26 -3.18%, #FFD954 100%);
    --Gradient-Yellow-Green: linear-gradient(90deg, #FFD954 0%, #52FE84 99.21%);
    --Gradient-Green-Blue: linear-gradient(90deg, #54FF84 0%, #3470FD 99.21%);
    --Gradient-Blue-Purple: linear-gradient(270deg, #9734E8 0.4%, #3470FD 100%);
    --Gradient-Purple-Red: linear-gradient(90deg, #9734E8 0%, #FF5454 99.21%);
  }
  
 
  /*----------------------------------- plugins -----------------------------------*/
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
 
 
 
  /*----------------------------------- SVGs -----------------------------------*/

.svg-red {
  fill: var(--primary-red);
}

.svg-yellow {
  fill: var(--primary-yellow);
}

.svg-blue {
  fill: var(--primary-blue);
}

/*----------------------------------- bodyodyody -----------------------------------*/
  

body {
    background-color: var(--color-bg);
    color: var(--color-font);
    font-family: 'InterTight';
    text-decoration: none;
    margin: 0;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

hr {
  border: .5px solid var(--color-white);
}



/*----------------------------------- links and buttons -----------------------------------*/

/*--------hover---------*/
.hover-link {
  font-size: 1.2rem;
  font-weight: 500;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0.3em 0;
}

.hover-link::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color-font);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/*--------hover large---------*/
.hover-link-lg {
  font-family: 'PPNeueMachina';
  font-size: 65px;
  font-weight: 500;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0.3em 0;
  line-height: 0.3em;
}

.hover-link-lg::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--color-font);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-link-lg:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button {
  display: inline-flex;
  padding: 8px 24px 6px 24px;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  border-radius: 39px;
  background: var(--color-bg);
  font-family: "PP Neue Machina";
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  border: var(--color-white);
  border-width: 2px;
  border-style: solid;
  width: fit-content;
}

button:hover {
  background-color:var(--color-white);
  color: var(--color-bg);
  transition: 0.3s;
}






/*----------------------------------- states -----------------------------------*/

a:link {
    text-decoration: none;
    color: var(--color-font);
}

a:visited {
    text-decoration: none;
    color: var(--color-font);
}

/*----------------------------------- fonts -----------------------------------*/

h1 {   
    font-family: 'PPNeueMachina';
    font-size: 9vw;
    font-weight: 300;
    margin: 0;
    line-height: 6.6vw;
}

h2 {   
  font-family: 'PPNeueMachina';
  font-size: 116px;
  font-weight: 300;
  margin: 0 0 72px 0;
}

h3 {   
  font-family: 'PPNeueMachina';
  font-size: 64px;
  font-weight: 300;
  margin: 0;
}

h4 {   
  font-family: 'PPNeueMachina';
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  width: fit-content;
}

h5 {
  font-size: 32px;
  font-weight: 400;
}

#super-bold {
    font-weight: 700;
}

p {
    font-family: 'InterTight';
    font-size: 16px;
    font-weight: 200;
    font-style: normal;
}

/*----------------------------------- Pill -----------------------------------*/

.pill-container {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  padding: 16px 0;
}

.pill {
  display: inline-flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  color: var(--color-bg);
  border-radius: 39px;
  background: var(--Gradient-Purple-Red);
  font-family: "PP Neue Machina";
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  }




/*----------------------------------- navigation -----------------------------------*/



nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  z-index: 100;
  position: sticky;
  top: 0px;
}

.nav-bar {
  background-color: var(--color-white);
  height: .5px;
  width: 100%;
  margin: 12px 0 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0 4px;
}


#projects-about {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*----------------------------------- header -----------------------------------*/

header {
  width: 100%;
  height: calc(100vh - 69px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:end ;
}

.lineContainer{
  width: 80vw;
  position:relative;
  overflow:hidden;
}

.line{
  width: 90%;
  height: 130px;
  position: relative;
  overflow: hidden;
}

span{
  position: absolute;
  line-height: 8rem;
}


/*----------------------------------- section -----------------------------------*/

section {
  width: 100%;
  position: relative;
}

.space-holder {
  height: calc(100vh - 69px);
  background-color: #242936;
}

/*----------------------------------- Projects -----------------------------------*/

.project {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 128px 0;
}

.project-about {
  width: 36%;
  padding: 0 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-images {
  width: 50%;
  background-color: rgb(48, 48, 48);
}

.project-links {
  height: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 0 0 0;
}


.flex1-2 {
  width: 100%;
  margin: 0 10px 0 0;
}

.flex2-2 {
  width: 100%;
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
}

.project-link-line {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 64px;
  margin: 40px 0 0 0;
}

.flex2-2 h4 {
  padding: 0 0 0 10px;
  line-height: normal;
}

/*----------------------------------- Price Comparison-----------------------------------*/

.comparison {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 80px 0;
}

.text-center {
  text-align: center;
  line-height: normal;
  margin: 104px 0 40px 0;
}

aside {
  border: 1px solid var(--mid-grey);
  background-color: var(--color-bg);
  border-radius: 5px;
  margin: 1rem;
  padding: 1.25rem;
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 430px;
}

#lucas-skills {
  background: linear-gradient(#1D1E25, #1D1E25) padding-box,
  linear-gradient(to right, #FF7B26, #FFD954) border-box;
  border: 1px solid transparent;
  height: 490px;
}

.comparison-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 110px;
}

.comparison-title h5 {
  padding: 0;
  margin: 0;
}

.comparison-title p {
  margin: 0 0 14px 0;
}

.comp {
  height: 46px;
  border-top: .5px solid var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

}

.comp p {
  font-size: 15px;
  font-weight: 200;
  width: 100%;
  padding: 0;
  margin: 0;
}
  
.comp .icon {
  width: 30px;
  height: 24px;
}

aside .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0 6px 0;
}



/*-----------------------------------About-----------------------------------*/

#about-header{
  margin: 0 0 12px 0;
}

.about {
  height: 536px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about .flex2-2 {
  margin: 48px 0 0 0;
}

.about h5 {
margin: 116px 0 0 0;
}

.about p {
  margin: 0 0 32px 0;
  font-size: 20px;
  
}

.about img {
  width: 300px;
  height: 300px;
  transform: rotate(-10deg);
}


/*----------------------------------Footer----------------------------------*/


footer {
  max-width: 1400px;
  width: 100%;
}

.footer-container {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email-social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 840px;
}

.email {
  width: 50%
}

.social {
  width: 50%
}

.footer-bold {
  font-size: 32px;
  font-weight: 400;
}

footer .link-container {
  display: flex;
  flex-direction: row;
}

.social .hover-link {
  margin: 0 20px 0 0;
}


.svg01 {
  width: 50px;
  height: 50px;
}